
#########
#Exclude all
#########
*/vivado
!*/vivado
!.gitignore
###########################################################################
##	VIVADO
###########################################################################
#########
#Source files:
#########
#Do NOT ignore VHDL, Verilog, block diagrams or EDIF files.
!vivado/**.vhd
!vivado/**.v
!vivado/**.bd
!vivado/**.edif
#########
#IP files
#########
#.xci: synthesis and implemented not possible - you need to return back to the previous version to generate output products
#.xci + .dcp: implementation possible but not re-synthesis
#*.xci(www.spiritconsortium.org)
vivado/**.xci
#*.dcp(checkpoint files)
vivado/**.dcp
vivado/**.vds
vivado/**.pb
#All bd comments and layout coordinates are stored within .ui
vivado/**.ui
vivado/**.ooc
#########
#System Generator
#########
vivado/**.mdl
vivado/**.slx
vivado/**.bxml
#########
#Simulation logic analyzer
#########
vivado/**.wcfg
vivado/**.coe
#########
#MIG
#########
vivado/**.prj
vivado/**.mem
#########
#Project files
#########
#XPR  +  *.XML ? XPR (Files are merged into a single XPR file for 2014.1 version)
#Do NOT ignore *.xpr files
vivado/**.xpr
#Include *.xml files for 2013.4 or earlier version
vivado/**.xml
#########
#Constraint files
#########
#Do NOT ignore *.xdc files
vivado/**.xdc
#########
#TCL - files
#########
vivado/**.tcl
#########
#Journal - files
#########
vivado/*.jou
vivado/*.log
vivado/*.str
vivado/**.jou
vivado/**.log
vivado/**.str
#########
#Reports
#########
vivado/**.rpt
vivado/**.txt
vivado/**.vdi
#########
#C-files
#########
vivado/**.c
vivado/**.h
vivado/**.elf
vivado/**.bmm
vivado/**.xmp

# Others
build
build/*
.vscode
.vscode/*